oh-my-zsh:
  users:
    admin:
      username: administrator
      group: administrator
  home: /home
  theme: xiong-chiamiov-plus
  disable-auto-update: false
  disable-update-prompt: true
  disable-untracked-files-dirty: true
  plugins: git rails ruby debian zsh-navigation-tools
